@use'../abstracts' as *;


.TodoScreen{
    max-width: 35rem;
    margin: 0 auto;
    height: auto;
    padding: 2rem;
    background-color: #dd3aaa;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px #643281;
  
  }
  .Divider{
    margin-top: 2rem;
    border-bottom: 1px solid #fdfdfd;
    height: 2px;
  }
  
 